<?xml version='1.0' encoding='utf-8'?>
<widget id="io.pushbit.ios" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Push</name>
    <description>
      Pushing up colaboratively
    </description>
    <author email="cjavilla@gmail.com" href="http://pushbit.io">
      CJ Avilla and Ryan Sepassi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <feature name="org.apache.cordova.facebook.Connect">
      <param name="ios-package" value="FacebookConnectPlugin" />
    </feature>
</widget>
