<header class="bar bar-nav">
  <a href="#" class="icon pull-left">Cancel</a>
  <h1 class="title">Message to Flarnie</h1>
  <a href="#" class="icon pull-right">Send</a>
</header>

<form>
  <textarea rows="5"></textarea>
  <a class="btn btn-positive btn-block">Choose existing</a>
</form>
