<ul class="table-view">
  <li class="table-view-cell">
  <a class="push-right">
    Flarnie
  </a>
  </li>
  <li class="table-view-cell">
  <a class="push-right">
    Me
  </a>
  </li>
  <li class="table-view-cell">
  <a class="push-right">
    Ryan
  </a>
  </li>
  <li class="table-view-cell">
  <a class="push-right">
    CJ
  </a>
  </li>
</ul>
