<div class="show_when_not_connected">
  <div id="login_button" class="button" onclick="promptLogin()" />Login using Facebook</div>
</div>
<div class="show_when_connected">
  <div id="login_button" class="button" onclick="logout()" />Logout</div>
  <div id="login_button" class="button" onclick="uninstallApp()" />Uninstall app</div>
</div>
