/*
 * trying to follow this BEM syntax
/* http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/ */
.scrolling-chart--horizontal {
    float: right;
    width: 100%;
    overflow: scroll;
}
.btn--facebook {
    color: #fff;
    border: 1px solid #133787;
    background-color: #133787;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30%;
    padding: 20px;
}
